@font-face {
    font-family: 'MrsEavesItalic';
    src: url('./fonts/mrseavesitalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/mrseavesitalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/mrseavesitalic-webfont.svg') format('svg'); /* Legacy iOS */
}

body {
    background-image: url("./images/splash4.png");
    background-position: top;
    /* background-color: #1e264F; */
    font-family: "Playfair Display";
    display: flex;
    flex-direction: column;
    margin: 0;
}

#app {
    /* width: 66%;
    margin: 0 auto; */
}

#name {
    font-size: 2em;
    text-align: center;
    color: #d3a54a;
    /* color: #b08635; */
    position: relative;
    top: 35px;
    font-family: 'Fitri Regular';
}

.name-and {
    font-family: 'MrsEavesItalic';
    font-size: 32px;
}

#count-down {
    color: white;;
    text-align: center;
    background-color: #1d2c51;
    min-height: 150px;
    width: 100%;
}

#nav {
    margin: 30px auto;
    width: 66%;
}

#nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

ul {
    list-style: none;
}

ul > li {
    margin-right: 10px;
}

ul > li > a {
    color: #9e8562;
    text-decoration: none;
}

.slideshow {
    text-align: center;
}

.gallery-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.gallery-spacer {
    width: 800px;
    height: 500px;
}

.current-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    transition: width 1s, height 1s, left 1s;
    z-index: 5;
}

.next-image {
    position: absolute;
    top: 0;
    left: 650px;
    width: 150px;
    height: 175px;
    transition: left 1s;
    z-index: 4;
}

.inactive-image {
    position: absolute;
    top: 0;
    left: 801px;
    width: 150px;
    height: 175px;
    transition: width 0s, height 0s, left 0s;
    transition-delay: 1s;
    z-index: 3;
}

.gallery-slide {
    background-position: top center;
    background-size: cover;
}

#slide1 {
    background-image: url(./images/photos/1.jpg);
}

#slide2 {
    background-image: url(./images/photos/2.jpg);
}

#slide3 {
    background-image: url(./images/photos/3.jpg);
}

#slide4 {
    background-image: url(./images/photos/4.jpg);
}

#slide5 {
    background-image: url(./images/photos/5.jpg);
}

#slide6 {
    background-image: url(./images/photos/6.jpg);
}

#slide7 {
    background-image: url(./images/photos/7.jpg);
}

#slide8 {
    background-image: url(./images/photos/8.jpg);
}

#slide9 {
    background-image: url(./images/photos/9.jpg);
}

#slide10 {
    background-image: url(./images/photos/10.jpg);
}
